.body {
    flex: 1;
}
.section {
    padding: 0 6rem;
}
.app-link-container h4,
.app-link-container p {
    margin: 0;
}
.app-route {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.route {
    text-decoration: none;
    color: black;
}
.sections {
    padding: 0 6rem;
}
.navigation {
    position: sticky;
    top: 0;
    background-color: rgb(255 255 255 / 96%);
    height: 56px;
}
.navigation ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 100%;
}
